<h1>That Which <%= current_user.name %> MustDU</h1>

<%= render partial: 'form' %>

<% @mustdos.each do |mustdo| %>
  <ul>
    <li><%= mustdo.description %></li>
    <li>
      <%= form_for mustdo do |f| %>
        <%= f.check_box :complete %>
      <% end %>
    </li>
  </ul>
<% end %>
