<h1>That Which <%= current_user.name %> MustDU</h1>

<%= render partial: 'form' %>
<table>
  <tr>
    <th>Description</th>
    <th>Created At</th>
    <th>Complete</th>
    <th><%= button_to "Clear Completed", mustdos_path, :method => "get", class: 'btn btn-success' %></th>

  </tr>
  <% @mustdos.each do |mustdo| %>
    <tr id="todo-<%= "#{mustdo.id}" %>">
      <td><%= mustdo.description %></td>
      <td><%= "#{((mustdo.created_at + 7.days - Time.now) / ( 60 * 60 * 24)).round} "%></td>
      <td>
        <%= form_for mustdo, :remote => true, :method => 'delete' do |f| %>
          <%= f.check_box :complete, :class => 'submittable' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
